{% extends "base.html" %}

{% block head %}
{{ super() }}

{% if DESCRIPTION %}
<meta name="description" content="{{ DESCRIPTION|striptags }}">
{% endif %}
{% endblock %}

{% block title %}
{{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block content %}
{% from "include/article_list.html" import render_articles %}

{{ render_articles(articles_page.object_list, "Projects") }}
{{ render_articles(articles_page.object_list, "Publications") }}
{% include 'include/pagination.html' %}
{% endblock %}